#btnToggleStepMode{
    background-color: green;
}

/* .btn-primary {
    color: var(--button-color);
    background-color: var(--button-background-color);
    border-radius: var(--border-radius);
  } */

/* .active {
    background-color: green !important;
  } */