table {
    font-size: small;
    color: #000000;
    border-color: #000000;
    border-collapse: separate;
    border-radius: 10px; 
    background-color: aliceblue;
    height: 150px;
  }

td, th{
    text-align: center;
}
  
tr {
    /* For row height */
    display: block;
    vertical-align:top;
    line-height: 22.5px;
}

tr:nth-child(even) {
background-color: #dddddd;
}

.card{
width: 395px;
}

/* For the column widths in taProcesses*/

#taProcesses .tableHeader th:nth-child(1), td:nth-child(1){
    width: 30px;
}
  
#taProcesses .tableHeader th:nth-child(2), td:nth-child(2){
    width: 30px;
}

#taProcesses .tableHeader th:nth-child(3), td:nth-child(3){
    width: 30px;
}

#taProcesses .tableHeader th:nth-child(4), td:nth-child(4){
    width: 45px;
}

#taProcesses .tableHeader th:nth-child(5), td:nth-child(5){
    width: 20px;
}

#taProcesses .tableHeader th:nth-child(6), td:nth-child(6){
    width: 20px;
}

#taProcesses .tableHeader th:nth-child(7), td:nth-child(7){
    width: 20px;
}

#taProcesses .tableHeader th:nth-child(8), td:nth-child(8){
    width: 60px;
}

#taProcesses .tableHeader th:nth-child(9), td:nth-child(9){
    width: 70px;
}

#taProcesses .tableHeader th:nth-child(10), td:nth-child(10){
    width: 70px;
}
